/**********************/
/* BELOW 1000 pixels (For Small Desktop II) */
/**********************/
@media (max-width: 63em) {
  .hero-img {
    width: 90%;
  }
}

/**********************/
/* BELOW 1000 pixels (For Small Desktop II) */
/**********************/
@media (max-width: 768px) {
  .hero-img {
    width: 90%;
  }
  .section-hero {
    height: 90vh;
  }
  .reccomendation-cover {
    padding-right: 0rem;
  }
  .reccomendation-scroll-images {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .reccomendation-left {
    display: none;
  }
  .reccomendation-right {
    display: none;
  }

  .best-indonesian-cover {
    padding-right: 0rem;
  }
  .best-indonesian-scroll-images {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .best-indonesian-left {
    display: none;
  }
  .best-indonesian-right {
    display: none;
  }

  .top-artist-cover {
    padding-right: 0rem;
  }
  .top-artist-scroll-images {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .top-artist-left {
    display: none;
  }
  .top-artist-right {
    display: none;
  }
}

/**********************/
/* BELOW 633 pixels (For Phones)*/
/**********************/
@media (max-width: 40em) {
  .hero-background {
    mask-image: linear-gradient(
      to top,
      rgb(20, 20, 20, 0) 0%,
      rgba(255, 255, 255) 10%
    );
    width: 100%;
    height: 50vh;
  }
  .center-content {
    gap: 1.6rem;
  }
  .section-hero {
    padding: 0 2.4rem 9.6rem;
    height: 50vh;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: row;
    gap: 1.6rem;
  }
  .cover-container {
    margin-left: 0;
    padding-left: 3.2rem;
  }
  .hero-content h1 {
    font-size: 2.4rem;
    letter-spacing: 1.4px;
    text-align: end;
  }
  .container {
    padding: 0 3.2rem;
  }
  .subheading {
    text-align: start;
  }

  .hero-content p {
    font-size: 1.6rem;
    text-align: end;
  }
  .play-button {
    width: 4.8rem;
    height: 4.8rem;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background-color: #74e800;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .play-button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #141414;
  }
}

/**********************/
/* BELOW 578 pixels (For Phones)*/
/**********************/
@media (max-width: 27em) {
  .billboard-card {
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  }
}
